@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #34353b;
}

/* Header */
header {
    height: 100vh;
    width: 100vw;
    padding-top: .01vh;
    background-image: url("../assets/profil-1.png"), linear-gradient(to bottom, rgb(28, 28, 28), transparent);
    background-position: 85%;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 2vh 5vw;
    z-index: 2;
}

nav.sticky {
    background: linear-gradient(to bottom, rgb(28, 28, 28), transparent);
}

header nav img {
    height: 56px;
    width: 56px;
    object-fit: contain;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: auto 1vw;
}

header nav ul li a {
    text-decoration: none;
    color: #fbfbfb;
    transition: all ease 1s;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: #98999a;
}

header nav ul li.active {
    border-bottom: #fec86a solid 3px;
}

header nav .bottom {
    height: 45px;
    width: 45px;
    background-color: #3d3e42;
    margin: auto 0;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

header nav .bottom i {
    color: #fbfbfb;
    font-size: 25px;
}

header nav .top {
    position: absolute;
    right: 5vw;
    top: 26px;
    height: 45px;
    width: 45px;
    background-color: #fec86a;
    display: none;
    margin: auto 0;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

header nav .top i {
    color: #34353b;
    font-size: 25px;
}

header nav .top a,.bottom a {
    text-decoration: none;
}

header nav .toggle {
    margin: auto 0;
    display: none;
}

header nav .toggle i {
    font-size: 4vh;
    color: #fbfbfb;
}

.landing .intro {
    margin-top: 20%;
    margin-left: 10vw;
}

.landing .intro h3 {
    color: #fec86a;
    font-weight: 400;
    font-size: 2vmax;
}

.landing .intro h3 span {
    color: #fec86a;
    font-weight: 600;
    font-size: 3vmax;
}

.landing .intro h3 p{
    color: #fbfbfb;
    margin-bottom: 25px;
}

.intro a {
    padding: 15px 30px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #fec86a;
    border-radius: 10px;
    color: #fec86a;
    font-size: 1rem;
    font-weight: bold;
    transition: all ease 0.5s;
}

.intro a:hover {
    background-color: #fec86a;
    color: #34353b;
    cursor: pointer;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-right: 5vw;
    margin-top: -2%;
}

.social-media .line {
    background-color: #fec86a;
    margin-right: 16px;
    height: 15vh;
    width: 2.5px;
}

.social-media a {
    cursor: pointer;
    text-decoration: none;
}

.social-media i {
    color: #fbfbfb;
    font-size: 36px;
}
  
/* About Section */
.about {
    padding: 40px 5vw 40px 5vw;
}

.about h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
}
  
.about .description .line {
    height: 2.5px;
    width: 200px;
    background-color: #fec86a;
    margin-top: 10px;
    margin-right: 20px;
}

.about .description {
    display: flex;
    align-items: start;
}

.about .description p {
    color: #fbfbfb;
    font-size: 1.5em;
}

.about .description p span {
    color: #fec86a;
}

/* My Skill Section */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}
  
.skills h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
}
  
.skills .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 20px 5px 40px 5px;
}
  
.skills-card {
    height: 20vw;
    width: 20vw;
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    transition: all ease 0.5s;
    overflow: hidden;
}
  
.skills-card .overlay {
    position: absolute;
    background-color: #fec86a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transition: all ease 0.5s;
    height: 20vw;
    width: 20vw;
    padding: 24px;
    opacity: 0;
    z-index: 1;
}

.skills-card .overlay:hover {
    opacity: 1;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}
  
@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
  
.progressbar {
    --percentage: var(--value);
    --primary: #369;
    --secondary: #adf;
    --size: 9vw;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}
  
.progressbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}
  
.progressbar::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}
  
.skills-card img {
    height: 10vw;
    width: 10vw;
}
  
.skills-card h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fbfbfb;
    text-align: center;
    padding: 0 5px;
    user-select: none;
}



/* Portfolio Section */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    padding: 0px 100px;
}

.portfolio h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 20px;
}

.portfolio .cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
}

.portfolio-card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 1000px;
    padding: 50px 30px 50px 20px;
    background-color: #fbfbfb;
    border-radius: 24px;
}

.portfolio-card img {
    max-width: 300px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 20px 40px rgb(0, 0, 0, .8);
}

.caption-portfolio h2 {
    margin-bottom: 20px;
    font-size: 1.7em;
}

.caption-portfolio p {
    margin-bottom: 30px;
}

.caption-portfolio a {
  font-size: 16px;
  width: 170px;
  text-decoration: none;
  color: #34353b;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  display: flex;
}

.caption-portfolio a p {
    margin: auto;
}

.caption-portfolio a:hover {
  background-color: #34353b;
  color: #fbfbfb;
}

.caption-portfolio a i{
    font-size: 30px;
}

/* Experience Section */
.experience {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 4vh;
}
  
.experience h1 {
    position: absolute;
    color: #fbfbfb;
    font-size: 3.5rem;
    font-family: "Libre Baskerville", serif;
    margin-top: -40px;
    margin-left: 5vw;
}
  
.lighter-div {
    background-color: #3d3e42;
    width: 100vw;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
  
.lighter-div .exp {
    width: 50vw;
    position: relative;
    margin-left: 10vw;
 }
  
.exp h2 {
    color: #fbfbfb;
    font-size: 32px;
    font-weight: 400;
}
  
.exp h2::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #fec86a;
    position: absolute;
    transform: translate(-150%, 40%);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px #fec86a;
}
  
.exp-desc::before {
    content: "";
    height: 17vh;
    width: 2.5px;
    background-color: #fbfbfb;
    position: absolute;
    transform: translate(-850%, 2%);
}

.exp-desc h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.exp-desc span {
    color: #fec86a;
}
  
.exp-desc p {
    color: #fbfbfb;
    font-weight: 300;
}

.exp-desc ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
    color: #fbfbfb;
    font-weight: 300;
}
      
.exp-desc ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    height: 5px;
    width: 5px;
    border: 1px solid #fec86a;
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
    font-weight: bold;
}


/* Footer Section */
.footer {
    width: 100vw;
    padding: 100px 100px 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.footer h1 {
    font-size: 3.5rem;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    margin-bottom: 5vh;
}
  
.contact {
    display: flex;
    gap: 24px;
}
  
.contact-card {
    border: 0;
    background-color: #fec86a;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.contact-card i {
    font-size: 2rem;
}

.contact-card p {
    font-size: 1.3rem;
}

.credit {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
}

.credit img{
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.credit p {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin: auto;
    color: #808080;
}

@media (max-width:700px) {

    header {
        height: 100vh;
        background-position-y: bottom;
    }
    
    header nav ul {
        flex-direction: column;
        position: fixed;
        margin-top: 50px;
        right: 6vw;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        max-height: 0;
        gap: 20px;
        overflow: hidden;
        transition: ease-in-out .5s;
    }

    header nav ul li{
        border-bottom: solid 1px #98999a;
    }

    header nav ul li a {
        font-weight: bold;
    }

    header nav ul.open {
        padding: 20px 100px;
        max-height: 100%;
    }

    header nav .search {
        display: none;
    }

    header nav .toggle {
        display: block;
        cursor: pointer;
    }

    header nav .bottom {
        display: none;
    }

    header nav .top {
        top: 88vh;
        right: 8vw;
    }

    .landing .intro {
        margin-top: 20vh;
        margin-left: 10vw;
    }

    .social-media {
        margin-top: 15vh;
    }

    .about {
        margin-top: 2vh;
    }

    .about .description .line {
        width: 11.3rem;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .about .description {
        flex-direction: column;
    }
    
    .about .description p {
        color: #fbfbfb;
        font-size: 1em;
    }

    .skills {
        padding: 0 5px;
        margin-top: 2vh;
    }

    .skills-card h2 {
        font-size: .8rem;
        text-align: center;
    }

    .portfolio {
        padding: 0px 20px;
        margin-top: 2vh;
    }

    .portfolio-card {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
    
    .portfolio-card img {
        margin: -80px 0 30px;
        max-width: 450px;
        width: 100%;
    }

    .caption-portfolio a {
        margin: auto;
      }

    .experience {
        align-items: center;
    }

    .experience h1 {
        margin-left: 0;
    }

    .lighter-div {
        padding-left: 5vw;
    }

    .lighter-div .exp {
        width: 70vw;
     }

     .footer h1 {
        text-align: center;
    }

     .contact-card p {
        display: none;
     }

}